{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/style.css" %}">

  <title>{% block title %}Homepage{% endblock %}</title>
</head>
<body>
  <header class="header">
    <a href="/"><span class="header__logo">TagIt</span></a>
    {% if not request.user.is_authenticated %}
    <div class="login-form">
      <form method="post" action="{% url 'login' %}">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Login">
      </form>
      <a href="#">Forgot password?</a>
    </div>
    {% endif %}
  </header>

  <div class="auth-content">
  {% block content %}
  {% endblock %}
  </div>
  <script src="https://kit.fontawesome.com/d791987f9f.js" crossorigin="anonymous"></script>
</body>
</html>

