{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/style.css" %}">

  <title>{% block title %}Homepage{% endblock %}</title>
</head>
<body>
  <header class="header">
    <a href="/"><span class="header__logo">TagIt</span></a>
    {% block loginform %}
    {% endblock %}
  </header>

  <div class="auth-content">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="messages__{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="messages__close">
          <i class="fas fa-times"></i>
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% block content %}
  {% endblock %}
  </div>

  <script src="https://kit.fontawesome.com/d791987f9f.js" crossorigin="anonymous"></script>
</body>
</html>

