{% extends "users/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <p class="heading__primary">Reset your password</p>
  {% if validlink %}
    <p class="heading__description">
      Please enter your new password twice:
    </p>
    <form method="post" class="form">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" class="btn btn btn--primary" value="Change my password">
    </form>
  {% else %}
    <p class="heading__description">
      The password reset link was invalid. Please make a new password-reset request.
    </p>
  {% endif %}
{% endblock %}