{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Change My Profile{% endblock %}

{% block content %}
  <p class="heading__primary">Change Your Profile</p>
  <form method="post" enctype="multipart/form-data" class="form">
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% with profile_photo=request.user.profile.photo %}
      <img src="{% thumbnail profile_photo 256x256 crop %}">
    {% endwith %}
    
    {% csrf_token %}
    <input type="submit" class="btn btn--outline" value="Save">
  </form>
{% endblock %}