{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  <nav class="navigation">
    <a href="/"><span class="navigation__logo">T</span></a>

    <form method="get">
      <input type="text" name="search">
      <button type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>

    <div class="navigation__profile">
      <img src="{{ request.user.profile.photo.url }}" alt="avatar">
      <p>{{ request.user.get_full_name }}</p>
    </div>

    <div class="navigation__option">
      <i class="fa fa-caret-down" aria-hidden="true"></i>
      <div>
        <ul>
          <li><a href="{% url 'password_change' %}">Change password</a></li>
          <li><a href="{% url 'edit' %}">Edit Profile</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <main id="main">
    <div class="sidebar">
      <a class="sidebar__profile" href="#">
        <img src="{{ request.user.profile.photo.url }}" alt="avatar">
        <p>{{ request.user.get_full_name }}</p>
      </a>

      <div class="sidebar__list">
        <ul>
          <li><a href="#"><i class="far fa-newspaper"></i> News Feed</a></li>
          <li><a href="#"><i class="far fa-bell"></i> Notifications (3)</a></li>
          <li><a href="#"><i class="far fa-envelope"></i> Inboxes (2)</a></li>
          <li><a href="#"><i class="fab fa-slack-hash"></i> Hashtags</a></li>
          <li><a href="#"><i class="fas fa-users"></i> Friends</a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="messages__{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="messages__close">
          <i class="fas fa-times"></i>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
     {% block content %}
     {% endblock %}
    </div>
  </main>

  <script src="https://kit.fontawesome.com/d791987f9f.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    const option = document.querySelector('.navigation__option i');
    const optionList = document.querySelector('.navigation__option div');
    
    option.addEventListener('click', function() {
      if (option.classList.contains('open')) {
        option.classList.remove('open');
        optionList.style.display = 'none';
      } else {
        option.classList.add('open');
        optionList.style.display = 'block';
      }
    });
  </script>
</body>
</html>