{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ post.caption }}{% endblock %}

{% block content %}
  {% with total_likes=post.users_like.count users_like=post.users_like.all comments=post.comments.all %}
  <div class="post">
    <div class="post__options" id="post-options-{{ post.id }}">
      <i class="fas fa-ellipsis-h" id="post-options-btn-{{ post.id }}"></i>
      <div id="post-options-list-{{ post.id }}">
        <ul>
          <li><a href="#">Edit</a></li>
          <li><a id="open-likes-list" data-id="{{ post.id }}">People Likes</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </div>
    </div>

    <div class="post__likes" id="post-likes-{{ post.id }}">
      <span>
        <i class="fas fa-times" id="post-likes-btn-{{ post.id }}"></i>
      </span>
      <ul>
        <p>People liked this post</p>
        {% for user_like in users_like %}
          <li>
            <a class="post__user" href="#">
              <img src="{% thumbnail user_like.profile.photo 32x32 crop %}" alt="avatar" class="post__user--img">
              <p class="post__user--name">{{ user_like.get_full_name }}</p>
            </a>
          </li>
        {% empty %}
        {% endfor %}
      </ul>
    </div>

    <a class="post__user" href="#">
      <img src="{{ post.user.profile.photo.url }}" alt="avatar" class="post__user--img">
      <p class="post__user--name">{{ post.user.get_full_name }}</p>
    </a>

    <span class="post__datetime">{{ post.created|timesince }} ago</span>
    
    <p class="post__caption">
      {{ post.caption }}
    </p>

    {% if post.image %}
      <img
        src="{% thumbnail post.image 640x480 crop %}"
        class="post__img"
      />
    {% endif %}

    <div class="post__reaction">
      <a
        class="post__reaction--item {% if request.user not in users_like %}{% else %}post__reaction--liked{% endif %}"
        data-id="{{ post.id }}"
        data-action="{% if request.user in users_like %}un{% endif %}like"
        id="like"
      >
        <i class="fas fa-heart"></i>
        <p>{{ total_likes }}</p>
      </a>

      <div class="post__reaction--item">
        <i class="fas fa-comment"></i>
        2k
      </div>
    </div>

    <div class="post__comments">
      <div class="post__comments--add">
        <form method="post">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <input type="submit" class="btn btn--outline" value="Send">
        </form>
      </div>

      <div class="post__comments--list">
        <p>Comments</p>
        {% for comment in comments %}
          <div class="post__comments--item">
            <a class="post__user" href="#">
              <img
                src="{% thumbnail comment.user.profile.photo 32x32 crop %}"
                class="post__user--img"
              />
              <p class="post__user--name">{{ comment.user.get_full_name }}</p>
            </a>
            <p class="post__comments--datetime">{{ comment.created|timesince }} ago</p>
            <p>
              {{ comment.content }}
            </p>
          </div>
        {% empty%}
          No comments
        {% endfor %}
      </div>
    </div>
  </div>
  {% endwith %}
{% endblock %}

{% block script %}
<script src="{% static 'js/post.js' %}"></script>
{% endblock %}