{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Your newsfeed{% endblock %}

{% block content %}
  <div class="newpost">
    <p class="heading__primary">Add New Post</p>
    <form method="post" enctype="multipart/form-data">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Post" class="btn btn--primary">
    </form>
  </div>

  <div class="newsfeed">
    <p class="heading__primary">Your newsfeed</p>
    {% for post in posts %}
      {% with total_likes=post.users_like.count users_like=post.users_like.all %}
      <div class="post">
        <a class="post__user" href="#">
          <img src="{{ post.user.profile.photo.url }}" alt="avatar" class="post__user--img">
          <p class="post__user--name">{{ post.user.get_full_name }}</p>
        </a>

        <span class="post__datetime">{{ post.created|timesince }} ago</span>
        
        <p class="post__caption">
          {{ post.caption }}
        </p>

        {% if post.image %}
          <img
            src="{% thumbnail post.image 640x480 crop %}"
            class="post__img"
          />
        {% endif %}

        <div class="post__reaction">
          <a
            class="post__reaction--item {% if request.user not in users_like %}{% else %}post__reaction--liked{% endif %}"
            data-id="{{ post.id }}"
            data-action="{% if request.user in users_like %}un{% endif %}like"
            id="like"
          >
            <i class="fas fa-heart"></i>
            <p>{{ total_likes }}</p>
          </a>

          <a class="post__reaction--item" href="{{ post.get_absolute_url }}">
            <i class="fas fa-comment"></i>
            2k
          </a>
        </div>
      </div>
      {% endwith %}
    {% empty %}
    No posts
    {% endfor %}
  </div>
{% endblock %}